* {
    background-color: #2a4257;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #142634;
    color: #c9d5e1;
    display: flex;
    margin-bottom: 0px;


    
}

.buttons {
    background-color: #142634;
    margin-bottom: 0px;
    button, h3{
        background-color: #142634;
        color: #c9d5e1;
        border: 0px;
    }
}


.songs {
    border: 1px solid #142634;
    padding: 10px;
}




.chords {
    border: 1px solid #142634;
    padding: 10px;
    h1, h3, p {
        color: white;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.pannel {
    border: 1px solid #142634;
    margin-bottom: 10px;
    margin-top: -10px;
    h2, select, p{
        color: white;
        padding: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}